body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:  rgb(186, 214, 186);
}

header {
    background-color: rgb(130, 190, 130);
    color:  rgb(130, 190, 130);
    padding: 1rem 0;
    text-align: center;
}
.main-heading {
    color: rgb(65, 141, 65);
}


header h1 {
    color: rgb(65, 141, 65);
    margin: 0;
}


h2 {
    color: rgb(48, 122, 48);
}

strong {
    color: rgb(65, 141, 65);
    font-weight: bold;
}
/*Här kan man justera knappen som syns på våra namn och tillbakaknappen */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #5eab5e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #4d944d;
    color: #e0e0e0;
}
/*Här kan man justera storlek, färg bakgrund till huvudrubriken på startsidan */
.site-header {
    padding: 20px;
    border: 44px solid transparent;
    border-radius: 5px;
    border-image: linear-gradient(180deg, rgb(36, 113, 43), rgb(118, 189, 118)) 1;
}



.site-header h1 {
    color: rgb(55, 124, 55);
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    margin: 0;
}

/* Här kan man justera menyn på startsidan.*/
.button-container ul {
    list-style: bold;
    padding: 0;
    text-align: center;
}

.button-container li {
    display: inline;
    margin-right: 0px;
}
