body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:  rgb(186, 214, 186);
}

header {
    background-color: rgb(130, 190, 130);
    color:  rgb(130, 190, 130);
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    
    margin: 0;
}
h1 {
    color: rgb(54, 116, 54);
}

h2 {
    color: rgb(72, 137, 72);
}
h3 {
    color: rgb(24, 81, 24);
}
h4 {
    color: rgb(40, 55, 40);
}

strong {
    color: rgb(65, 141, 65);
    font-weight: bold;
}
/*Här kan man justera knappen som syns på våra namn och tillbakaknappen */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #5eab5e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #4d944d;
    color: #e0e0e0;
}
.centered-list {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: fit-content;
}